<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <img src="/assets/images/burger.png" alt="burger image">
            <h2>Eat-Da-Burger!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6">
            {{#each burgers}} {{#unless devoured}}
            <div class="well well-sm well-burger">
                <p>{{id}}. {{burger_name}}</p>
                <button class="btn btn-danger btn-devour pull-right" data-id="{{id}}">Devour!</button>
            </div>
            {{/unless}} {{/each}}
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
            {{#each burgers}} {{#if devoured}}
            <div class="well well-sm well-burger">
                <p class="text-muted">{{id}}. {{burger_name}}</p>
            </div>
            {{/if}} {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <form class="burger-form">
                <div class="form-group">
                    <input id="burgerName" type="text" class="form-control" placeholder="Burger" aria-describedby="helpBlock">
                    <span id="helpBlock" class="help-block" style="display:none;">Please enter a burger</span>
                </div>
                <button type="submit" class="btn btn-primary">Add Burger!</button>
                <p>Enter a burger you want to eat and click the "Submit" button</p>
            </form>
        </div>
    </div>
</div>